Repository sonrhq/service, changes with the labels that .github/labeler.yml gives for each.
All labels: Repo, CI-CD, Community, Config, Docker, Inrastructure, Proto, @domain/crypto, @domain/did, @domain/mpc, @domain/txs, @module/domain, @module/identity, @module/service, @module/wasm

feat: Add Webauthn types to service module
  api/module/v1/module.pb.go
  api/module/v1/module.pulsar.go
  api/module/v1/state.pb.go
  api/module/v1/state_query.pb.go
  api/module/v1/state_query_grpc.pb.go
  api/v1/credential.go
  api/v1/credential.pulsar.go
  api/v1/ecies.go
  api/v1/query.pb.go
  api/v1/query.pulsar.go
  api/v1/query_grpc.pb.go
  api/v1/tx.pb.go
  api/v1/tx.pulsar.go
  api/v1/tx_grpc.pb.go
  api/v1/types.pb.go
  api/v1/types.pulsar.go
  api/v1/webauthn.go
  go.mod
  go.sum
  proto/sonrhq/service/module/v1/state_query.proto
  proto/sonrhq/service/v1/credential.proto
  scripts/protocgen.sh
Labels: Repo, CI-CD, Config, Proto

Fix bug in login functionality
  .DS_Store
  .github/.DS_Store
  api/.DS_Store
  pkg/.DS_Store
Labels: Repo

Add .DS_Store to .gitignore
  .gitignore
Labels: Repo

fix: proto
  Earthfile
  api/v1/webauthn.go
  proto/sonrhq/service/module/v1/state.proto
Labels: Repo, Proto

Remove unused passkeys package
  pkg/passkeys/authenticator.go
  pkg/passkeys/credential.go
  pkg/passkeys/relaying_party.go
  pkg/webauthn/authenticator.go
  pkg/webauthn/credential.go
  pkg/webauthn/relay_service.go
Labels: none

Update runs-on to sonr-testnet-1
  .github/workflows/ci.yml
Labels: CI-CD

Update runs-on value in ci.yml
  .github/workflows/ci.yml
Labels: CI-CD

feat: add orm table specs
  api/.DS_Store
  api/module/v1/module.pb.go
  api/module/v1/module.pulsar.go
  api/module/v1/state.cosmos_orm.go
  api/module/v1/state.pb.go
  api/module/v1/state_query.pb.go
  api/module/v1/state_query_grpc.pb.go
  api/v1/credential.go
  api/v1/credential.pb.go
  api/v1/credential.pulsar.go
  api/v1/ecies.go
  api/v1/query.pb.go
  api/v1/query.pulsar.go
  api/v1/query_grpc.pb.go
  api/v1/tx.pb.go
  api/v1/tx.pulsar.go
  api/v1/tx_grpc.pb.go
  api/v1/types.pb.go
  api/v1/types.pulsar.go
  api/v1/webauthn.go
  keeper/msg_server.go
  proto/buf.yaml
  proto/sonrhq/service/module/v1/state.proto
  proto/sonrhq/service/module/v1/state_query.proto
  proto/sonrhq/service/v1/query.proto
  scripts/protocgen.sh
Labels: CI-CD, Proto

Update Earthfile to use latest dependencies
  Earthfile
Labels: Repo

Add BaseParams struct and related messages
  api/module/v1/state.cosmos_orm.go
  api/module/v1/state.pb.go
  api/module/v1/state_query.pb.go
  api/module/v1/state_query_grpc.pb.go
  api/v1/query.pb.go
  keeper/genesis.go
  proto/buf.gen.swagger.yaml
  proto/sonrhq/service/module/v1/state.proto
  proto/sonrhq/service/module/v1/state_query.proto
Labels: Proto

Add Protobuf Swagger generation script
  Makefile
  docs/static/swagger/apidocs.swagger.json
  proto/buf.gen.swagger.yaml
  scripts/protocgen-docs.sh
Labels: Repo, CI-CD, Community, Config, Proto

feat: twitter
  api/v1/query.pb.go
  proto/sonrhq/service/module/v1/state.proto
  proto/sonrhq/service/module/v1/state_query.proto
Labels: Proto

Update protoc-gen-go version to v1.28.1
  Earthfile
  api/module/v1/module.pb.go
  api/module/v1/state.pb.go
  api/module/v1/state_query.pb.go
  api/module/v1/state_query_grpc.pb.go
  api/v1/credential.pb.go
  api/v1/query.pb.go
  api/v1/query_grpc.pb.go
  api/v1/tx.pb.go
  api/v1/tx_grpc.pb.go
  api/v1/types.pb.go
  docs/static/apidocs.swagger.json
  keeper/msg_server.go
  proto/buf.gen.swagger.yaml
  proto/sonrhq/service/module/v1/state_query.proto
  proto/sonrhq/service/v1/query.proto
  scripts/protogen-orm.sh
Labels: Repo, CI-CD, Community, Proto

Update NewKeeper function signature and dependencies with x/identity
  expected_keepers.go
  keeper/keeper.go
  keeper/keeper_test.go
  module/depinject.go
  module/module.go
  scripts/protogen-orm.sh
Labels: Repo, CI-CD

Fix dependencies and add keepers to the Keeper struct
  expected_keepers.go
  keeper/keeper.go
  keeper/keeper_test.go
  module/depinject.go
  module/module.go
Labels: Repo

Delete sweep.yaml configuration file
  sweep.yaml
Labels: Repo

Update generate command in tasks.json and protocgen-orm.sh script
  .DS_Store
  .vscode/tasks.json
  Earthfile
  api/v1/credential.pb.go
  proto/sonrhq/service/v1/credential.proto
  scripts/protocgen.sh
  types.pb.go
Labels: Repo, CI-CD, Proto

Remove unused code and update build configuration
  .vscode/tasks.json
  api/module/v1/state.cosmos_orm.go
  api/module/v1/state.pb.go
  api/module/v1/state_query.pb.go
  api/v1/query.pb.go
  api/v1/query_grpc.pb.go
  api/v1/tx.pb.go
  api/v1/tx_grpc.pb.go
  api/v1/types.pb.go
  codec.go
  docs/static/apidocs.swagger.json
  genesis.go
  go.mod
  go.sum
  keeper/genesis.go
  keeper/genesis_test.go
  keeper/msg_server.go
  keeper/msg_server_test.go
  keeper/query_server.go
  keeper/query_server_test.go
  proto/sonrhq/service/module/v1/state.proto
  proto/sonrhq/service/module/v1/state_query.proto
  proto/sonrhq/service/v1/query.proto
  proto/sonrhq/service/v1/tx.proto
  proto/sonrhq/service/v1/types.proto
  query.pb.go
  query.pb.gw.go
  tx.pb.go
  types.pb.go
Labels: Repo, Community, Config, Proto

Fix bug in login functionality
  keeper/relaying_party.go
  proto/sonrhq/service/module/v1/state_query.proto
Labels: Proto

Update techstack.yml
  techstack.yml
Labels: Repo

Update techstack.md
  techstack.md
Labels: Repo

Remove unused webauthn package
  api/v1/query.pb.go
  pkg/webauthn/authenticator.go
  pkg/webauthn/credential.go
  pkg/webauthn/relay_service.go
Labels: none

Update Earthfile with new project name
  Earthfile
Labels: Repo

Subject: Resolved local dependency path in go.mod and tweaked copy command
  Earthfile
  go.mod
Labels: Repo, Config

Removed redundant assertions in test cases
  keeper/genesis_test.go
  keeper/query_server_test.go
Labels: none

Update GitHub Actions and Refactor Protobuf
  .github/workflows/cd.yml
  .github/workflows/changelog.yml
  .github/workflows/ci.yml
  Earthfile
  Makefile
  proto/sonrhq/service/module/v1/module.proto
  proto/sonrhq/service/module/v1/state.proto
  proto/sonrhq/service/module/v1/state_query.proto
  proto/sonrhq/service/v1/types.proto
Labels: Repo, CI-CD, Config, Proto

It seems that there was an issue and the code diff wasn't provided. Could you please provide the code changes so I can generate an appropriate commit message for you?
  .github/workflows/autodeps.yaml
Labels: CI-CD

Refactor Earthfile for enhanced dependency handling
  Earthfile
Labels: Repo

Enable local source testing in Earthfile
  Earthfile
Labels: Repo

Since no code diff was provided, I can't generate a commit message. Please share the code changes you'd like summarized.
  docs/template/index.tpl
Labels: Community

Switch proto plugin from swagger to openapiv2
  proto/buf.gen.swagger.yaml
Labels: Proto

Extend webauthn support with new utilities
  keeper/relaying_party.go
Labels: none

Prepare for session context handling in relaying party
  keeper/relaying_party.go
Labels: none

feat: add base cred funcs
  keeper/credential_opts.go
Labels: none

fix: autocli commands
  module/autocli.go
Labels: none

feat: update buf.build proto
  proto/buf.lock
Labels: Proto

fix: depends on mod
  go.mod
  go.sum
  module/autocli.go
Labels: Repo, Config

fix: remove incr tx
  module/autocli.go
Labels: none

Update TestUpdateParams to use an anonymous variable in the inner test function
  keeper/msg_server_test.go
Labels: none

Added buf breaking change detection to Earthfile
  Earthfile
Labels: Repo

.github/labeler.yml:

# Add 'repo' label to any root file changes
Repo:
  - "*"
  - ".github/images/**"
  - ".gitignore"
  - ".vscode/**"
  - ".devcontainer/**"

CI-CD:
  - ".github/workflows/**"
  - "sonr.yaml"
  - scripts/**/*
  - CHANGELOG.md
  - ".github/labeler.yml"

Community:
  - "CODE_OF_CONDUCT.md"
  - "CONTRIBUTING.md"
  - "LICENSE"
  - "SECURITY.md"
  - "README.md"
  - ".github/ISSUE_TEMPLATE/**"
  - ".github/PULL_REQUEST_TEMPLATE/**"
  - docs/**/*
  - DEVELOPERS.md

Config:
  - app/**/*
  - config/**/*
  - Makefile
  - buf.gen.yaml
  - buf.work.yaml
  - go.mod
  - go.sum

Docker:
  - ".dockerignore"
  - "Dockerfile"
  - "docker-compose.yml"
  - "Dockerfile.dev"

Inrastructure:
  - internal/**/*
  - x/**/*
  - tools/**/*

Proto:
  - proto/**/*
  - types/**/*

# Add '@domain/*' label to any change within the 'pkg' directory
"@domain/crypto":
  - pkg/crypto/**
"@domain/did":
  - pkg/did/**
"@domain/mpc":
  - pkg/mpc/**
"@domain/txs":
  - pkg/txs/**

# Add '@module/*' label to any change within the 'x' directory
"@module/domain":
  - x/domain/**
"@module/identity":
  - x/identity/**
"@module/service":
  - x/service/**
"@module/wasm":
  - contracts/**
