Repository sonrhq/service, changes with the labels that .github/labeler.yml gives for each.
All labels: Repo, CI-CD, Community, Config, Docker, Inrastructure, Proto, @domain/crypto, @domain/did, @domain/mpc, @domain/txs, @module/domain, @module/identity, @module/service, @module/wasm

Updated buf breaking change detection setup
  Earthfile
  proto/buf.yaml
Labels: Repo, Proto

Update docs script
  scripts/protocgen-docs.sh
Labels: CI-CD

fix: Remove Autodeps
  .github/workflows/autodeps.yaml
Labels: CI-CD

init: deps
  go.mod
  go.sum
Labels: Repo, Config

Update buf project
  proto/buf.yaml
Labels: Proto

Change vscode settings
  .vscode/settings.json
Labels: Repo

Remove .DS_Store files and update .gitignore
  .gitignore
  components/page.templ
  components/page_templ.go
  components/shoelace.templ
  components/shoelace_templ.go
  pkg/.DS_Store
Labels: Repo

Update dependencies in go.mod and go.sum
  go.mod
  go.sum
Labels: Repo, Config

Add .DS_Store to .gitignore
  .gitignore
Labels: Repo

Update go.mod and remove unused templates
  go.mod
  templates/components/page.templ
  templates/components/page_templ.go
  templates/views/shoelace.templ
  templates/views/shoelace_templ.go
Labels: Repo, Config

Update file exclusion patterns in .vscode/settings.json
  .vscode/settings.json
Labels: Repo

Update Docker image and Go version
  Earthfile
  go.mod
Labels: Repo, Config

Add go-chi/chi/v5 package
  gateway.go
  gateway/handlers/identity.go
  gateway/routes/routes.go
  gateway/templates/components/page.templ
  gateway/templates/components/page_templ.go
  gateway/templates/views/shoelace.templ
  gateway/templates/views/shoelace_templ.go
  go.mod
  go.sum
Labels: Repo, Config

Update file path in error message
  gateway/templates/components/page_templ.go
Labels: none

.github/labeler.yml:

# Add 'repo' label to any root file changes
Repo:
  - "*"
  - ".github/images/**"
  - ".gitignore"
  - ".vscode/**"
  - ".devcontainer/**"

CI-CD:
  - ".github/workflows/**"
  - "sonr.yaml"
  - scripts/**/*
  - CHANGELOG.md
  - ".github/labeler.yml"

Community:
  - "CODE_OF_CONDUCT.md"
  - "CONTRIBUTING.md"
  - "LICENSE"
  - "SECURITY.md"
  - "README.md"
  - ".github/ISSUE_TEMPLATE/**"
  - ".github/PULL_REQUEST_TEMPLATE/**"
  - docs/**/*
  - DEVELOPERS.md

Config:
  - app/**/*
  - config/**/*
  - Makefile
  - buf.gen.yaml
  - buf.work.yaml
  - go.mod
  - go.sum

Docker:
  - ".dockerignore"
  - "Dockerfile"
  - "docker-compose.yml"
  - "Dockerfile.dev"

Inrastructure:
  - internal/**/*
  - x/**/*
  - tools/**/*

Proto:
  - proto/**/*
  - types/**/*

# Add '@domain/*' label to any change within the 'pkg' directory
"@domain/crypto":
  - pkg/crypto/**
"@domain/did":
  - pkg/did/**
"@domain/mpc":
  - pkg/mpc/**
"@domain/txs":
  - pkg/txs/**

# Add '@module/*' label to any change within the 'x' directory
"@module/domain":
  - x/domain/**
"@module/identity":
  - x/identity/**
"@module/service":
  - x/service/**
"@module/wasm":
  - contracts/**
